<h1><%= t('application.task index') %></h1>
<p><%= notice %></p>
<table>
  <tr>
    <th><%= t('application.Title') %></th>
    <th><%= t('application.Content') %></th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先度</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_title"><%= task.title %></td>
    <td class="task_content"><%= task.content %></td>
    <td class='task_expired_at'><%= simple_time(task.expired_at) %></td>
    <td class='task_status'><%= task.status %></td>
    <td class='task_priority'><%= task.priority %></td>
    <td><%= link_to t('tasks.show'), task_path(task.id)  %></td>
    <td><%= link_to t('tasks.edit'), edit_task_path(task.id), data: { confirm: t('tasks.Edit really?') } %></td>
    <td><%= link_to t('tasks.delete'), task_path(task.id), method: :delete ,data: { confirm: t('tasks.Delete really?') } %></td>
  </tr>
<% end %>
</table>
<%= link_to '終了期限でソート', tasks_path(sort_expired: "true"), class: "btn btn-warning btn-sm" %>
<%= link_to '優先度でソート', tasks_path(sort_priority: "true"), class: "btn btn-default btn-sm" %>
<%= link_to t('tasks.create'), new_task_path %>